<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Buy</button>
        </div>
        <div class="col-lg-9">
            <h1>{{toys.name}}</h1>
            <img src="{{toys.img}}" alt="{{toys.img}}">
            <p>{{toys.description}}</p>
            <p>{{toys.cost}}</p>
        </div>
    </div>
</div>